
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inria Sans', sans-serif;
}
.material-symbols-outlined{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
a{
    color: white;
    text-decoration: none;
}

/* form ativo mostrar */
/* .aala{
    display: none;
}
.aala.ativo{
    display: flex;
} */

.ativo{
    display: flex;
}

.sideBar-bg{
    width: 90px;
    height: calc(100vh - 72px);
    background: linear-gradient(180deg, #247158 28.62%, #073929 69.14%);
    z-index:2;
    position: relative;
}
.childSidebar-bg{
    width: auto;
}


.Cadastro, .Consultorio, .Marketing, .lastPad{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 5px;
    gap: 8px;
    cursor: pointer; 
}

.Servicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 5px;
    gap: 8px;
    cursor: pointer; 
}
.Servicos p{
    padding-bottom: 4px;
}


.teste{
    padding-top: 50px;
    padding-bottom: 10px;
}
.testeDown{
    padding-bottom: 16px;
}
.Cadastro:hover{
    background-color: #225e4b;
}
.Servicos:hover{
    background-color: #225e4b;
}
.Consultorio:hover{
    background-color: #144e3c;
}
.Marketing:hover{
    background-color: #0c382a;
}
.lastPad:hover{
    background-color: #09291f;
}
.settings{
    padding-top: 50px;
    
}

.Cadastro img, .Servicos img, .Consultorio img, .Marketing img, .lastPad img{
    width: 32px;
}
.Cadastro p, .Servicos p, .Consultorio p, .Marketing p{
    font-size: 14px;
    color: white;
}

.lastPad p{
    font-size: 14px;
    color: white;
}

.lastPad{
    position: relative;
    bottom: 28px;
}

/* focus (quando clicar)*/
.Cadastro::after{
    content: '';
    display: inline;
    background-image: url('../../../crm/assets/icons/seta.svg');
    width: 18px;
    height: 18px;
    left: 68px;
    top: 80px;
    position: absolute;
}
.Cadastro.ativo::after{
    content: "";
    display: inline-block;
    height: 75px;
    width: 5px;
    background-color: #46c49b;
    position: absolute;
    left: 85px;
    top: 50px;
}

.Servicos.ativo::after{
    content: "";
    display: inline-block;
    height: 75px;
    width: 5px;
    background-color: #46c49b;
    position: absolute;
    left: 85px;
    top: 135px;
}
.Servicos::after{
    content: '';
    display: inline;
    background-image: url('../../../crm/assets/icons/seta.svg');
    width: 18px;
    height: 18px;
    left: 68px;
    top: 160px;
    position: absolute;
}


.Consultorio.ativo::after{
    content: "";
    display: inline-block;
    height: 75px;
    width: 5px;
    background-color: #46c49b;
    position: absolute;
    left: 85px;
    top: 222px;
}

.Consultorio::after{
    content: '';
    display: inline;
    background-image: url('../../../crm/assets/icons/seta.svg');
    width: 18px;
    height: 18px;
    left: 68px;
    top: 245px;
    position: absolute;
}


.Marketing.ativo::after{
    content: "";
    display: inline-block;
    height: 75px;
    width: 5px;
    background-color: #46c49b;
    position: absolute;
    left: 85px;
    top: 313px;
}

.Marketing::after{
    content: '';
    display: inline;
    background-image: url('../../../crm/assets/icons/seta.svg');
    width: 18px;
    height: 18px;
    left: 68px;
    top: 340px;
    position: absolute;
}

.lastPad.ativo::after{
    content: "";
    display: inline-block;
    height: 75px;
    width: 5px;
    background-color: #46c49b;
    position: absolute;
    left: 85px;
    top: 0px;
}



/* outras side Bar Info */
.active{
    display: none;
}
.active.mostrar{
    display: block;
}

.sideBar-info{
    display: none;
}

.sideBar-info.mostrar{
    display: flex;
    top: 122px;
    left: 91px;
    position: absolute;
}


.boxCadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 75px;
    background-color: #247158;
    color: white;
    font-size: 17px;
    animation: slideLado .5s forwards;
}


/* box Serviços */

.carrossel{
    display: flex;
    width: 380px;
   
}
.sideBarInfoServicos{
    display: none;
}
.sideBarInfoServicos.mostrar{
    display: flex;
    top: 206px;
    left: 93px;
    position: absolute;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}


.boxServico{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 75px;
    background-color: #247158;
    color: white;
    font-size: 16px;
    animation: slideLado .6s forwards;
}

.marginBox{
    margin-left: 0px !important;
}

.voltarLado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 75px;
    background-color: rgba(225, 230, 228, 0);
    cursor: pointer;
    font-size: 18px;
    animation: slideLado .10s forwards;
    z-index: 10;
}
.voltarLado a{
    padding: 20px 1px;
}
.passaLado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 75px;
    background-color: rgba(225, 230, 228, 0);
    cursor: pointer;
    font-size: 18px;
    animation: slideLado .10s forwards;
    z-index: 10;
}
.passaLado a{
    padding: 20px 1px;
}

/* box markenting */


.sideBar-infoMarketing{
    display: none;
}

.sideBar-infoMarketing.mostrar{
    display: flex;
    top: 383px;
    left: 91px;
    position: absolute;
}

.boxMarketing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 75px;
    background-color: #247158;
    color: white;
    font-size: 17px;
    animation: slideLado .5s forwards;

}


/* Keyframes */

@keyframes slideLado {
    from{
        opacity: 0;
        margin-left: -8px;
    }

    to{
        opacity: 1;
        margin-left: 2.2px;
    }
}




.carrossel-container {
    position: relative;
    width: 300px; /* Defina a largura do seu carrossel */
    overflow: hidden;
}

.carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.item {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}