*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inria Sans', sans-serif;
}

.header-bg{
    background-color: #247158;
    box-shadow: 3px -2px 20px 3px rgb(192, 192, 192);
    height: 72px;
    display: flex;
    justify-content: end;
    padding-right: 80px;
    padding-top: 4px;
    gap: 10px;
    
}


.cao .inputText{
    display: flex;
    justify-content: center;
    
}
.cao [type="text"] {
    padding: 4px 12px;
    width: 240px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin-top: 12px;
    position: relative;
}
#a [type="text"]:focus{
    outline: none;
}
.btn-search{
    border: none;
    background-color: transparent;
    max-width: max-content;
}
.img-search{
    width: 16px;
    position: relative;
    top: 5px;
    right: 24px;
    cursor: pointer;
}

.bellImg img {
    width: 22px;
    margin-top: 14px;
    margin-left: -10px;
}

.fotoPerfil{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #ccc;
    margin-top: 12px;
}